@media screen and (max-width: 600px) {}

body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    width:100%
    

}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;

}

aside{
    width:20% ;
    height: 80%;
    float: left;
    background-color: rgb(31, 19, 99, 0.2);
    margin-top: 20px;
    margin-left: 1%;
    padding: 20px;

}

aside > img {
    width: 100px;
}

main{
    display: flex;
    width: 76%;
    height: 80%;
    flex-direction: column;
    
}

h1 {
    font-size: 2em;
}

ul {
    list-style-type: none;
}

li {
    margin-bottom: 15px;
}

strong {
    font-weight: bold;
}

a {
    color: #007bff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;

p {
    line-height: 1.5;
}


main > section {
    background-color: rgb(31, 19, 99, 0.2);
    margin-top: 20px;
    margin-left: 1%;
    padding:20px ;
}
